<ons-page>
  <ons-toolbar>
    <div class="center">
      <span class="app-title">{{ appTitle }}</span>
      <span class="date-range">
        ({{ startDate$ | async | date: 'dd.MM' }} - {{ endDate$ | async | date: 'dd.MM.yyyy' }})
      </span>
      {{ today | date: 'EEEE' }}
    </div>
    <div class="right">
      <ons-toolbar-button (click)="actionSheet.visible ? actionSheet.hide() : actionSheet.show()">
        <ons-icon icon="ion-navicon, material:md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <div class="background"></div>
  <div class="content">
    <ons-select [(ngModel)]="selectedDay">
      <option *ngFor="let day of days$ | async" [value]="day">
        {{ day }}
      </option>
    </ons-select>
    <ons-carousel #carousel swipeable auto-scroll overscrollable id="carousel">
      <ons-carousel-item *ngFor="let foodCounter of foodCounters$ | async">
        <ons-card>
          <div class="title">
            {{ foodCounter.title }}
          </div>
          <div class="content">
            <ons-list>
              <ng-container *ngFor="let food of foodCounter.foods">
                <!-- <ons-list-header>{{ food.title }}</ons-list-header> -->
                <ons-list-item>
                  <div class="right">
                    {{ food.price }}
                  </div>
                  <div class="center">
                    <span class="list-item__title">{{ food.title }}</span>
                    <span *ngIf="food.description !== undefined" class="list-item__subtitle">{{
                      food.description
                    }}</span>
                  </div>
                </ons-list-item>
              </ng-container>
            </ons-list>
          </div>
        </ons-card>
      </ons-carousel-item>
    </ons-carousel>
    <ons-select [(ngModel)]="selectedMensa">
      <option *ngFor="let mensa of availableMensas" [value]="mensa">
        [{{ mensa.location }}] {{ mensa.title }}
      </option>
    </ons-select>

    <ons-action-sheet #actionSheet cancelable>
      <div class="action-sheet-mask"></div>
      <div class="action-sheet">
        <div class="action-sheet-title">Einstellungen</div>
        <ons-checkbox
          [attr.input-id]="'remember-mensa-selection'"
          [(ngModel)]="rememberMensaSelection"
          class="left"
        >
        </ons-checkbox>
        <label [attr.for]="'remember-mensa-selection'" class="center">
          Mensenauswahl merken
        </label>
        <ons-action-sheet-button>Speisepläne zurücksetzen</ons-action-sheet-button>
        <ons-action-sheet-button>Einstellungen zurücksetzen</ons-action-sheet-button>
      </div>
    </ons-action-sheet>
  </div>
</ons-page>
